name: Build qBittorrent

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup MSVC Development Command Prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Set Environment Path
        run: echo "C:\qbt\bin;$env:PATH" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: C:\qbt
          key: ${{ runner.os }}-qbt-deps-${{ hashFiles('**/requirements.txt') }}

      - name: Download Dependencies
        run: |
          if (Test-Path -Path "C:\qbt\downloads") { Remove-Item -Recurse -Force C:\qbt\downloads }
          New-Item -Path C:\qbt\downloads -ItemType Directory
          aria2c -d C:\qbt\downloads https://www.nasm.us/pub/nasm/releasebuilds/2.16.03/win64/nasm-2.16.03-win64.zip
          aria2c -d C:\qbt\downloads https://download.qt.io/official_releases/jom/jom_1_1_4.zip
          aria2c -d C:\qbt\downloads https://archives.boost.io/release/1.86.0/source/boost_1_86_0.7z
          7z e C:\qbt\downloads\nasm-2.16.03-win64.zip -oC:\qbt\bin
          7z x C:\qbt\downloads\jom_1_1_4.zip -oC:\qbt\bin
          7z x C:\qbt\downloads\boost_1_86_0.7z -oC:\qbt\

      - name: Clone and Build Zlib
        run: |
          if (Test-Path -Path "C:\qbt\zlib") { Remove-Item -Recurse -Force C:\qbt\zlib }
          git clone --branch v1.3.1 https://github.com/madler/zlib.git C:\qbt\zlib
          cd C:\qbt\zlib
          nmake -f win32/Makefile.msc
          xcopy zconf.h C:\qbt\zlib\include\
          xcopy zlib.h C:\qbt\zlib\include\
          xcopy zlib.lib C:\qbt\zlib\lib\

      - name: Build OpenSSL
        run: |
          if (Test-Path -Path "C:\qbt\openssl") { Remove-Item -Recurse -Force C:\qbt\openssl }
          git clone --branch openssl-3.4.0 https://github.com/openssl/openssl.git C:\qbt\openssl
          cd C:\qbt\openssl
          perl Configure VC-WIN64A no-shared no-tests --prefix=C:\qbt\openssl /FS
          jom
          nmake install_sw

      - name: Build Qt
        run: |
          if (Test-Path -Path "C:\qbt\qt5") { Remove-Item -Recurse -Force C:\qbt\qt5 }
          git clone --branch v5.15.14-lts-lgpl https://code.qt.io/qt/qt5.git C:\qbt\qt5
          cd C:\qbt\qt5
          git submodule update --init qtbase qtsvg qttools qtwinextras
          .\configure.bat -prefix C:\qbt\qt5 -I C:\qbt\zlib\include -L C:\qbt\zlib\lib -I C:\qbt\openssl\include -L C:\qbt\openssl\lib -release -opensource -confirm-license -static -static-runtime -nomake examples -openssl-linked
          jom
          jom install

      - name: Build libtorrent
        run: |
          if (Test-Path -Path "C:\qbt\libtorrent") { Remove-Item -Recurse -Force C:\qbt\libtorrent }
          git clone --branch RC_1_2 https://github.com/arvidn/libtorrent.git C:\qbt\libtorrent
          cd C:\qbt\libtorrent
          cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -DSTATIC_RUNTIME=ON -DCMAKE_INSTALL_PREFIX=C:\qbt\libtorrent -DBOOST_ROOT=C:\qbt\boost_1_86_0 -DOPENSSL_ROOT_DIR=C:\qbt\openssl -Wno-dev
          cmake --build build
          cmake --install build

      - name: Build qBittorrent 4.4.x
        run: |
          aria2c -d C:\qbt\downloads -o qBittorrent-4_4_x.zip "https://github.com/qbittorrent/qBittorrent/archive/refs/heads/v4_4_x.zip"
          7z x "C:\qbt\downloads\qBittorrent-4_4_x.zip" -oC:\qbt\qBittorrent-4_4_x
          cd C:\qbt\qBittorrent-4_4_x\qBittorrent-4_4_x
          cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DMSVC_RUNTIME_DYNAMIC=OFF -DSTACKTRACE=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\upload\qbittorrent445 -DBOOST_ROOT=C:\qbt\boost_1_86_0 -DOPENSSL_ROOT_DIR=C:\qbt\openssl -DZLIB_ROOT=C:\qbt\zlib -DQt5_DIR=C:\qbt\qt5\lib\cmake\Qt5 -DLibtorrentRasterbar_DIR=C:\qbt\libtorrent\lib\cmake\LibtorrentRasterbar -Wno-dev
          cmake --build build
          cmake --install build

      - name: Build qBittorrent 4.5.x
        run: |
          aria2c -d C:\qbt\downloads -o qBittorrent-4_5_x.zip "https://github.com/qbittorrent/qBittorrent/archive/refs/heads/v4_5_x.zip"
          7z x "C:\qbt\downloads\qBittorrent-4_5_x.zip" -oC:\qbt\qBittorrent-4_5_x
          cd C:\qbt\qBittorrent-4_5_x\qBittorrent-4_5_x
          cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DMSVC_RUNTIME_DYNAMIC=OFF -DSTACKTRACE=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\upload\qbittorrent455 -DBOOST_ROOT=C:\qbt\boost_1_86_0 -DOPENSSL_ROOT_DIR=C:\qbt\openssl -DZLIB_ROOT=C:\qbt\zlib -DQt5_DIR=C:\qbt\qt5\lib\cmake\Qt5 -DLibtorrentRasterbar_DIR=C:\qbt\libtorrent\lib\cmake\LibtorrentRasterbar -Wno-dev
          cmake --build build
          cmake --install build

      - name: Build qBittorrent 4.6.x
        run: |
          aria2c -d C:\qbt\downloads -o qBittorrent-4_6_x.zip "https://github.com/qbittorrent/qBittorrent/archive/refs/heads/v4_6_x.zip"
          7z x "C:\qbt\downloads\qBittorrent-4_6_x.zip" -oC:\qbt\qBittorrent-4_6_x
          cd C:\qbt\qBittorrent-4_6_x\qBittorrent-4_6_x
          cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DMSVC_RUNTIME_DYNAMIC=OFF -DSTACKTRACE=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\upload\qbittorrent467 -DBOOST_ROOT=C:\qbt\boost_1_86_0 -DOPENSSL_ROOT_DIR=C:\qbt\openssl -DZLIB_ROOT=C:\qbt\zlib -DQt5_DIR=C:\qbt\qt5\lib\cmake\Qt5 -DLibtorrentRasterbar_DIR=C:\qbt\libtorrent\lib\cmake\LibtorrentRasterbar -Wno-dev
          cmake --build build
          cmake --install build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: qbittorrent
          path: C:\qbt\upload
