name: qbt
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: ilammy/msvc-dev-cmd@v1
    - name: zlib
      run: |
        git clone --branch v1.3.1 --depth 1 https://github.com/madler/zlib.git
        cd zlib
        nmake -f win32/Makefile.msc
        xcopy zconf.h C:\qbt\zlib\include\
        xcopy zlib.h C:\qbt\zlib\include\
        xcopy zlib.lib C:\qbt\zlib\lib\
    - name: openssl
      run: |
        aria2c https://www.nasm.us/pub/nasm/releasebuilds/2.16.03/win64/nasm-2.16.03-win64.zip
        7z x nasm-2.16.03-win64.zip
        xcopy nasm-2.16.03\nasm.exe C:\qbt\bin\
        aria2c https://download.qt.io/official_releases/jom/jom_1_1_4.zip
        7z x jom_1_1_4.zip
        xcopy jom.exe C:\qbt\bin\
        git clone --branch openssl-3.0.17 --depth 1 https://github.com/openssl/openssl.git
        cd openssl
        $env:PATH += ";C:\qbt\bin\"
        perl Configure VC-WIN64A no-shared no-tests --prefix=C:\qbt\openssl /FS
        jom
        nmake install_sw
    - name: qt
      run: |
        git clone --branch v5.15.17-lts-lgpl --depth 1 https://github.com/qt/qt5.git
        cd qt5
        git submodule update --init qtbase qtsvg qttools qtwinextras
        .\configure.bat -prefix C:\qbt\qt5 -I C:\qbt\zlib\include -L C:\qbt\zlib\lib -I C:\qbt\openssl\include -L C:\qbt\openssl\lib -release -opensource -confirm-license -static -static-runtime -nomake examples -openssl-linked
        $env:PATH += ";C:\qbt\bin\"
        jom
        jom install
    - name: boost
      run: |
        aria2c https://archives.boost.io/release/1.87.0/source/boost_1_87_0.7z
        7z x -oC:\qbt\ boost_1_87_0.7z
    - name: libtorrent
      run: |
        git clone --branch RC_1_2 --depth 1 https://github.com/arvidn/libtorrent.git
        cd libtorrent
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -Dstatic_runtime=ON -Ddeprecated-functions=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\libtorrent -DBOOST_ROOT=C:\qbt\boost_1_87_0 -DOPENSSL_ROOT_DIR=C:\qbt\openssl -Wno-dev
        cmake --build build
        cmake --install build
    - name: qbittorrent
      run: |
        git clone --branch v4_4_x --depth 1 https://github.com/qbittorrent/qBittorrent.git
        cd qBittorrent
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DMSVC_RUNTIME_DYNAMIC=OFF -DSTACKTRACE=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\upload\qbittorrent -DBOOST_ROOT=C:\qbt\boost_1_87_0 -DOPENSSL_ROOT_DIR=C:\qbt\openssl -DZLIB_ROOT=C:\qbt\zlib -DQt5_DIR=C:\qbt\qt5\lib\cmake\qt5 -DLibtorrentRasterbar_DIR=C:\qbt\libtorrent\lib\cmake\LibtorrentRasterbar -Wno-dev
        cmake --build build
        cmake --install build
    - uses: actions/upload-artifact@v4
      with:
        name: qbittorrent
        path: C:\qbt\upload
