name: qbt
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-2022
    steps:
    - uses: ilammy/msvc-dev-cmd@v1
    - name: zlib
      run: |
        git clone --branch v1.3 https://github.com/madler/zlib.git
        cd zlib
        nmake -f win32/Makefile.msc
        xcopy zconf.h C:\qbt\zlib\include\
        xcopy zlib.h C:\qbt\zlib\include\
        xcopy zlib.lib C:\qbt\zlib\lib\
    - name: openssl
      run: |
        aria2c https://www.nasm.us/pub/nasm/releasebuilds/2.16.01/win64/nasm-2.16.01-win64.zip
        7z x nasm-2.16.01-win64.zip
        xcopy nasm-2.16.01\nasm.exe C:\qbt\bin\
        aria2c https://download.qt.io/official_releases/jom/jom_1_1_4.zip
        7z x jom_1_1_4.zip
        xcopy jom.exe C:\qbt\bin\
        git clone --branch openssl-3.2.0 https://github.com/openssl/openssl.git
        cd openssl
        $env:PATH += ";C:\qbt\bin\"
        perl Configure VC-WIN64A no-shared no-tests no-legacy --prefix=C:\qbt\openssl /FS
        jom
        nmake install_sw
    - name: qt
      run: |
        git clone --branch v5.15.11-lts-lgpl https://github.com/qt/qt5.git
        cd qt5
        git submodule update --init qtbase qtsvg qttools qtwinextras
        .\configure.bat -prefix C:\qbt\qt5 -I C:\qbt\zlib\include -L C:\qbt\zlib\lib -I C:\qbt\openssl\include -L C:\qbt\openssl\lib -release -opensource -confirm-license -static -static-runtime -nomake examples -openssl-linked
        $env:PATH += ";C:\qbt\bin\"
        jom
        jom install
    - name: boost
      run: |
        aria2c https://boostorg.jfrog.io/artifactory/main/release/1.83.0/source/boost_1_83_0.7z
        7z x boost_1_83_0.7z
        cd boost_1_83_0
        .\bootstrap.bat
        .\b2.exe install --prefix=C:\qbt\boost release
    - name: libtorrent
      run: |
        git clone --branch v1.2.15 https://github.com/arvidn/libtorrent.git
        cd libtorrent
        $env:PATH += ";C:\qbt\bin\"
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF -Dstatic_runtime=ON -Ddeprecated-functions=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\libtorrent -DBOOST_ROOT=C:\qbt\boost -DOPENSSL_ROOT_DIR=C:\qbt\openssl -Wno-dev
        cmake --build build
        cmake --install build
    - name: qbittorrent44x
      run: |
        git clone --branch v4_4_x https://github.com/qbittorrent/qBittorrent.git qbittorrent44x
        cd qbittorrent44x
        $env:PATH += ";C:\qbt\bin\"
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DMSVC_RUNTIME_DYNAMIC=OFF -DSTACKTRACE=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\upload\qbittorrent44x -DBOOST_ROOT=C:\qbt\boost -DOPENSSL_ROOT_DIR=C:\qbt\openssl -DZLIB_ROOT=C:\qbt\zlib -DQt5_DIR=C:\qbt\qt5\lib\cmake\qt5 -DLibtorrentRasterbar_DIR=C:\qbt\libtorrent\lib\cmake\LibtorrentRasterbar -Wno-dev
        cmake --build build
        cmake --install build
    - name: qbittorrent45x
      run: |
        git clone --branch v4_5_x https://github.com/qbittorrent/qBittorrent.git qbittorrent45x
        cd qbittorrent45x
        $env:PATH += ";C:\qbt\bin\"
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DMSVC_RUNTIME_DYNAMIC=OFF -DSTACKTRACE=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\upload\qbittorrent45x -DBOOST_ROOT=C:\qbt\boost -DOPENSSL_ROOT_DIR=C:\qbt\openssl -DZLIB_ROOT=C:\qbt\zlib -DQt5_DIR=C:\qbt\qt5\lib\cmake\qt5 -DLibtorrentRasterbar_DIR=C:\qbt\libtorrent\lib\cmake\LibtorrentRasterbar -Wno-dev
        cmake --build build
        cmake --install build
    - name: qbittorrent46x
      run: |
        git clone --branch v4_6_x https://github.com/qbittorrent/qBittorrent.git qbittorrent46x
        cd qbittorrent46x
        $env:PATH += ";C:\qbt\bin\"
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DMSVC_RUNTIME_DYNAMIC=OFF -DSTACKTRACE=OFF -DCMAKE_INSTALL_PREFIX=C:\qbt\upload\qbittorrent46x -DBOOST_ROOT=C:\qbt\boost -DOPENSSL_ROOT_DIR=C:\qbt\openssl -DZLIB_ROOT=C:\qbt\zlib -DQt5_DIR=C:\qbt\qt5\lib\cmake\qt5 -DLibtorrentRasterbar_DIR=C:\qbt\libtorrent\lib\cmake\LibtorrentRasterbar -Wno-dev
        cmake --build build
        cmake --install build
    - uses: actions/upload-artifact@v3
      with:
        name: qbittorrent
        path: C:\qbt\upload
